<html ng-app="mandala-app">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Mandalas' panel</title>
  </head>
  <body ng-controller="main">
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

         ga('create', 'UA-47923013-1', 'ideia.me');
         ga('send', 'pageview');
    </script>
    <div class="tools">
      <input type="checkbox" ng-model="turn_on_motor" ng-change="switch_on_off()"/>
       <input type="range" ng-model="accelerator" min="0" max="60000" step="451.08" value="451.08" ng-change="accelerate()" />
       {{velocimeter()}} 
    </div>
    <div class="mandalas-panel">
      <img ng-repeat="mandala in mandalas" ng-src="{{mandala}}" class="mandala" />
    </div>
    <link rel="stylesheet" href="css/app.css" title="main style" type="css" />
    <script type="text/javascript" charset="utf-8" src="js/angular.js"></script>
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/app.js"></script>
    <script type="text/javascript" charset="utf-8">
      mandalas.onDeviceReady();
      </script>
  </body>
</html>
